.vscode/
.venv/

SQL/SQL-Course-Materials/
SQL/Shortcuts-for-Jupyter.pdf
NetBeans/

C/learn-c-the-hard-way-practical-exercises-zed-a-shaw

Full Stack Developer/
Coding/Python/Python the Hard Way/Practice Dump/Game/