body {
    background-color: darkblue;
    display: block;
}


.nav {
    display:flex;
    justify-content: center;
    border-radius: 15px;
    gap: 30px

}

.nav a {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 15px;


}
.nav a:hover {
    background-color: lightblue;

}


.images p {
    color: white;
    width: 300px;
    float: left;
}

.images {
    flex-wrap: wrap;
    display: flex;
}

.image-container {
    display: flex;

}
.images img {
    
    border-radius: 30px;
    float: left;
    padding: 10px 10px
    
}
