.img-container {
  padding: 10px;
  text-align: center;
  display: inline;
}

.img-container img:hover {
  scale: 110%;
  filter: sepia(10);
}

.img-container img {
  width: 200px;
  height: 300px;
  
}
.nav {
  height: 50%; /* Full height */
  width: 100%; /* Width of the sidebar */
  position: center; /* Fix it on the left side */
  left: 0;
  background-color: black;
  display: flex; /* Flexbox for centering */
  align-items: center; /* Center links horizontally */
  padding-top: 10px; /* Space at the top */
}

.nav a {
  padding: 0px 10px;
  margin: 0px auto; /* Spacing between links */
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  text-align: center; /* Center the text inside each link */
  width: 10%; /* Make links take up the full width of the sidebar */
  display: block; /* Block display for full-width clickable area */
  
  /* When you mouse over the navigation links, change their color */
}
  .nav a:hover {
    color: #f1f1f1;
    scale: 110%;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .nav {padding-top: 15px;}
    .nav a {font-size: 18px;}
  }