body {
    background-color: antiquewhite;
    margin: 0;
}

.calc {
    display: grid;
    width:90px;
    grid-template-columns: 1fr 1fr 1fr;
}

.calc button{
    margin-left: 5px;
    margin-bottom: 5px;
    height:45px;
    width:45px;
}

.calcfield {
    margin-left:7px;
    margin-bottom:5px;
    height: 30px;
    width: 135px;
}