body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F6EF;
    min-height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
}

p span{
    font-weight: 100;
}

.brd-cap{
    float:left;
    font-size: 8rem;
    font-weight: 900;
    color: hsl(330, 80%, 51%);
    text-shadow: 0.01em .025em 0 #F9F6EF;
    position: relative;
}

.brd-cap::before {
    display: inline-grid;
    place-content: center;
    content: attr(shape);
    position: absolute;
    width: 4ch;
    height: 1em;
    top: .26em;
    left: 0.02e,;
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 1px #ff389c80;
    z-index: -1;
}
