body {
    margin: 0;
    background-color: beige;
}


.center-nav{
    list-style-type:none;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 25px;
    margin: 5px;
}

.center-nav ul{
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.center-nav ul li{
    margin: 5px;
}

/* Left navigational field */

.left-nav {
    min-width: 10%;
    max-width: 20%;
    min-height: 300px;
    max-height: 70%;
    background-color: aquamarine;
    border-radius: 25px;
    border: 1px solid black;
    margin-left: 5px;
}
